<footer>
    <div class="footer-content">
        <div class="footer-section" style="margin-right: auto;">
            <a href="../index.html">
                <img
                    src="images/nav-logo.png"
                    alt="Brickcraft Logo"
                    class="nav-logo"
                />
            </a>
            <div class="toggles">
                <div class="toggle">
                    <span>Dark Mode</span>
                    <label class="switch theme-toggle">
                        <input type="checkbox" id="theme-switch">
                        <span class="slider"></span>
                    </label>
                </div>
            </div>
        </div>
        <div class="footer-section">
            <h4>Extra</h4>
            <ul>
                <li><a href="../alternatives.html">Alternatives</a></li>
            </ul>
        </div>
        <div class="footer-section">
            <h4>Tools</h4>
            <ul>
                <li><a href="../tools/resize.html">Resize Pack</a></li>
                <li><a href="https://github.com/brickcraft-mc/brickcraft" target="_blank" rel="noopener noreferrer">Repo <box-icon name="link-external"></box-icon></box-icon></a></li>
                <li><a href="https://github.com/brickcraft-mc/brickcraft/wiki" target="_blank" rel="noopener noreferrer">Wiki <box-icon name="link-external"></box-icon></box-icon></a></li>
            </ul>
        </div>
        <div class="footer-section">
            <h4>Pack</h4>
            <ul>
                <li><a href="../download.html">Download</a></li>
                <li><a href="../instructions.html">Instructions</a></li>
                <li><a href="../gallery.html">Gallery</a></li>
                <li><a href="../faq.html">FAQ</a></li>
                <li><a href="../credits.html">Credits</a></li>
            </ul>
        </div>
        <div class="footer-section">
            <h4>Social</h4>
            <ul>
                <li><a href="https://www.patreon.com/c/alextestria" target="_blank" rel="noopener noreferrer">Patreon <box-icon name="link-external"></box-icon></box-icon></a></li>
                <li><a href="https://discord.gg/uBhFaBG" target="_blank" rel="noopener noreferrer">Discord <box-icon name="link-external"></box-icon></box-icon></a></li>
                <li><a href="https://www.youtube.com/@alextestria" target="_blank" rel="noopener noreferrer">YouTube <box-icon name="link-external"></box-icon></box-icon></a></li>
                <li><a href="https://www.tiktok.com/@alextestria" target="_blank" rel="noopener noreferrer">TikTok <box-icon name="link-external"></box-icon></box-icon></a></li>
            </ul>
        </div>
        <!-- The following sections are based on ones from the original site, and may need to either be removed, or formally updated to reflect today. -->
        <!-- <div class="footer-section">
            <h4>AlexTestria</h4>
            <ul>
                <li><a href="#" class="disabled">About Me</a></li>
                <li><a href="#" class="disabled">Cancer Fight</a></li>
            </ul>
        </div> -->
        <!-- <div class="footer-section">
            <h4>Legal</h4>
            <ul>
                <li><a href="../legal/impressum.html" class="disabled">Impressum</a></li>
                <li><a href="../legal/terms-of-use.html" class="xdisabled">Terms of Use</a></li>
                <li><a href="../legal/terms-of-service.html" class="xdisabled">Terms of Service</a></li>
                <li><a href="../legal/privacy-policy.html" class="xdisabled">Privacy Policy</a></li>
            </ul>
        </div> -->
    </div>
    <div class="footer-bottom">
        <div class="disclaimers">
            <p>Brickcraft is not in any way affiliated with LEGO®.</p>
            <p>LEGO® is a trademark of the LEGO Group of companies which does not sponsor, authorize, or endorse this resource pack.</p>
            <p>Not an official Minecraft product. Not approved by or associated with Mojang or Microsoft.</p>
            <p>Images used are owned by their respective creators and are used here for demonstration purposes only.</p>
        </p>
    </div>
    <div class="credits">
        <p>
            This website is not offically with Brickcraft, <br>and is intended to be a resource for the community. <br>It was originally made as a proposal to replace the original.<br><br>
        </p>
        <p>
            Website by <a href="https://github.com/Jordy3D" target="_blank" rel="noopener noreferrer">Bane</a>.<br>
        </p>
        <p>&copy; 2025 AlexTestria. All rights reserved.</p>
    </div>
</footer>
